
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}


body {
  background-color: rgb(245,245,245);
  margin: 0;
  font-family: CircularStd,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightBackgroundColor:white;
  --darkerBackgroundColor: 36,150,237;
  --oppositeBackgroundColor: 15,30,39;
  --greyBackgroundColor: 211,212,212;
  --primaryTextColor:0,0,0;
  --secondaryTextColor: 255,255,255;
  --buttonColor: 156,212,247;
  --tableUpdateColor:36,150,200;
  --tableSearchColor:36,150,237;
  --tableHeaderColor:61, 165, 245;
  --tableRowColor: 233,235,238;
 
}


/*Theme for dark mode*/
body.dark {
  --lightBackgroundColor:3,31,48;
  --darkerBackgroundColor: 15,30,39;
  --oppositeBackgroundColor: 36,150,237;
  --greyBackgroundColor: 211,212,212;
  --primaryTextColor:255,255,255;
  --secondaryTextColor:156,212,247;
  --buttonColor:52,70,88;
  --tableUpdateColor:8,8,8;
  --tableSearchColor:24,24,24;
  --tableHeaderColor: 32,32,32;
  --tableRowColor: 15,30,39;
}





.download-link {
  text-decoration:underline;
  color:#0066CC !important;
  padding:0px 0px;
  
}

.download-link:hover {
  border-radius: 0px;
  background-color:white;
  padding: 0px 0px;
}

a {
  font-weight:700;
  text-decoration:none;
}

a:visited {
  text-decoration:none;
  color:black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.current-page {
  display: inline-block;
  position: relative;
  
}

@keyframes border {
  from {width: 0%;}
  to {width:100%}
}

.current-page::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: black;  
  animation-name: border; 
  animation-duration: 4s; 
  animation-fill-mode: forwards; 
  animation-name: border;
  animation-duration: 0.5s;
  
}

.content-wrapper {
  display: flex;
  flex-direction: column; /*align child elements in a column*/
  justify-content: center;
  align-content: center;
  align-items: center;
  row-gap: 15vh;
}


.introduction-section {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 45%;

  font-size: 1em;
}

.introduction-name {
  background-image: linear-gradient(90deg, rgb(236, 0, 140), rgb(0, 112, 243)); /*Set background color as gradient*/
  -webkit-background-clip: text; /*The background is painted within (clipped to) the foreground text.*/
  color: transparent; /*text color is hidden so background is then*/
}

.introduction-background {
  font-size: 1.3em;
  font-weight: 300;
  

}

#project-header {
  text-align:center;
  font-size:2em;
  margin-bottom: 1%;
}

p {
  line-height:28px;
}

.grid-system {
  display:grid;
  grid-template-columns: 30vw 30vh;
 
  row-gap:5%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  
  position:relative;
  cursor:pointer;
}


.project-image {
  width: 360px;
  height: 240px;
}

.project-description {
  color: black;
  background-color: white;
  height:100%;
}

.project-card {

}

.project-card:hover {
  opacity: 0.9;
}



.project-card-company {
  font-size: 18px;
  margin:0;
  padding-top:3%;
}

.project-card-title {
  font-size: 27px;
  margin:0;
}

.popup-containers {
  display: none;
  flex-direction: column;
  width:100%;
  height:100%;
  z-index:1;
  position:fixed;
  background-color:rgb(0,0,0,0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items:center;
  padding-top:3%;
  
}

.project-card-popup {
  width:50%;
  height:80%;
  background-color:white;
  overflow-y: auto;

}

.image-container-popup {
  text-align:center;
  padding-top:3%;
  padding-bottom:3%;
  height:50%;
  background-color:rgb(205,205,205);
}


.card-image-popup {
  width: 50%;
  height:100%;
}

.project-card-overlay-popup {
  margin-left:5%;
}

.project-card-company-popup,.project-card-title-popup,.project-card-description-popup {
  color:black;

  flex:1;
}

.project-card-company-popup {
  font-size: 18px;
  font-weight:500;
  margin:0;
  padding-top:3%;

}

.project-card-title-popup {
  font-size: 27px;
  font-weight:800;
  margin:0;
}

.project-card-description-popup {
  padding-right:5%;
}

.project-card-skills-popup {
  margin-left:5%;
  margin-top:3%;
}

.skill {
  display:inline-block;
  border-radius:16px;
  background-color:#ff7260;
  padding:2px 12px;
  margin-bottom:5px;
  margin-right:5px;
  font-size:17px;
  font-weight:600;
  cursor:default;
}

#clever-text{
  font-size:12px;
  font-weight:600;
}

.section-wrapper{
  display:inline-block;
  border-bottom-style:solid;
  border-bottom-width:1px !important ; 
  border-top-color:black;
  padding:10px 0px;
  width:100%;
}

.section {
  margin-left:15%;
  margin-right:15%;
}
.section-header {
  font-family:"Helvetica","sans-serif";
  margin:0;
  text-align:center;
  margin-bottom:2%;
}

.introduction-description {
  font-family:"Helvetica","sans-serif";
  font-size:1.2em;
  text-align:left;
  
}


.list-header {
  float:left;
  width:50%;
  text-align:center;
  margin:0;
}
.skills-list{
  float:left;
  vertical-align:top;
  width:45%;
}

.skills-list > li, .job-list >li {
  font-size:1.2em;
  font-weight:300;
  font-family:"Helvetica","sans-serif";
}

.job-description {
  margin-left:15%;
  margin-right:15%;
}

h3 {
  margin:0
}

.work-period {
 float:right;
}

.job-list >li,.other-list>li {
  font-size:18px;
  font-weight:300;
  font-family:"Helvetica","sans-serif";
}


.other-list {
  margin-left:20%;
  margin-right:20%;
  
}

.TableOfContents {
  position: fixed;
  z-index:1;
  margin-left:0%;
  margin-top:10%;
  max-height: calc(100vh - 40px);
  overflow:auto;
  background-color:#1F2233;
  
  width:7%;
}
.TableOfContents > ul {
  color:white;
  padding-left:20px;
  
}
.TableOfContents > ul > li > a {
  color:white;
  font-size:12px;
  font-family:"Helvetica";
  
}

.TableOfContents > ul > li.active > a {
  color: yellow;
}

.TableOfContents > ul > li > a:hover {
  background-color:#1F2233;
  border-radius:0px;
  color:yellow;
  
}


html,h1 {
  scroll-margin-top:75px;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
  .section-wrapper {
      padding-top: 75px;
      margin-top:  75px;
  }
}

@media screen and (max-width: 400px) {



  .introduction-name {
    font-size: 1.4em; 
  }

  .introduction-background {
    font-size: 1.2em;
  }


}

@media screen and (max-width: 800px) {
  .grid-system {
    grid-template-columns: 360px;
  }

  .project-card {
    width: 360px;
    height: 240px;
  }
}

@media screen and (max-width: 1200px) {
  .introduction-section {
    margin-right: 20%;
  }
}
