
nav {
    width: 100%; /* Set the width of the sidebar */
    top: 0; /* Stay at the top */
    background-color: rgb(255,255,255); /* Black */
    font-size: 1rem;
    position: sticky;
    border-bottom: solid black;
    border-bottom-width:1px;
    z-index: 1;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.flex-right {
    justify-content: flex-end;
    padding-right: 2em;
}


.profilePic {
    width: 4em;
    height: 4em;
    border-radius: 4em;
    
}

.name, .nav-item {
    font-size: 1.2em;
    font-weight:700;
}

.nav-item {
    width: 100%;
    text-align: center;
    padding-right: 1em;
}

.break {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}



@media screen and (max-width: 800px) {
    nav {
        position: relative;
        border-bottom-width: 0px;
    }
    .border { 
        border-bottom: solid black;
        border-bottom-width:1px;
        width: 100%;
    }

    .break {
        display: block;
        flex-basis: 100%;
        transition: all 0.5s ease-in-out;
        height: 100vh;
    }

    .nav-item {
        margin: 2% 0;
        
    }
}

@media screen and (max-width: 1400px) {
    .content-wrapper {
        margin: auto;
    }
}



